<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        div {
            margin-bottom:10px;
            margin-top:10px;
        }
        .container__emmet{
            display: block;
            width: 600px;

        }
        .heading{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container container__emmet">

    <h3 class="heading">Đăng Kí</h3>
    <form action="#" th:action="@{/register/process}"
          th:object="${registerUser}" method="POST">

        <div th:if="${my_error}" class="alert alert-danger">
            <span th:text="${my_error}"></span>
        </div>

        <div>
            <input type="text" th:field="*{username}" placeholder="Username (*)" class="form-control"/>
            <div th:if="${#fields.hasErrors('username')}">
                <ul>
                    <li th:each="e: ${#fields.errors('username')}" th:text="${e}"></li>
                </ul>
            </div>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password (*)" class="form-control"/>
            <div th:if="${#fields.hasErrors('password')}">
                <ul>
                    <li th:each="e: ${#fields.errors('password')}" th:text="${e}"></li>
                </ul>
            </div>
        </div>
        <div>
            <input type="firstName" th:field="*{firstName}" placeholder="firstName (*)" class="form-control"/>
            <div th:if="${#fields.hasErrors('firstName')}">
                <ul>
                    <li th:each="e: ${#fields.errors('firstName')}" th:text="${e}"></li>
                </ul>
            </div>
        </div>
        <div>
            <input type="lastName" th:field="*{lastName}" placeholder="lastName (*)" class="form-control"/>
            <div th:if="${#fields.hasErrors('lastName')}">
                <ul>
                    <li th:each="e: ${#fields.errors('lastName')}" th:text="${e}"></li>
                </ul>
            </div>
        </div>
        <div>
            <input type="email" th:field="*{email}" placeholder="email (*)" class="form-control"/>
            <div th:if="${#fields.hasErrors('email')}">
                <ul>
                    <li th:each="e: ${#fields.errors('email')}" th:text="${e}"></li>
                </ul>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success"> Đăng ký</button>
            <a href="#" th:href="@{/login}">Đăng Nhập</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>